.colRed {
  color: red;
}
.colBrown {
  color: brown;
}
.subHeading {
  font-style: italic;
}
.cross {
  text-decoration: line-through;
  font-weight: bold;
}
.highLighted {
  background-color: yellow;
}
.underLined {
  text-decoration: underline;
  font-style: italic;
}
.unorderList {
  word-spacing: 10px;
  letter-spacing: 5px;
}
.rmTextDec {
  text-decoration: none;
}
